*{
	position: flex;
	margin: 0;
	margin-top: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	vertical-align: baseline;
	font-family: 'Dosis', sans-serif;
}

.hero{
	width: 90%;
	margin: auto;
}
.navbar{
	margin: 30px auto;
	margin-top: -10;
	display: flex;
	align-items: center;
}
.insert-image{
	max-width: 17%;
	margin-top: 20;
}
ul{
	flex: 1;
	text-align: right;

}
ul li{
	display: inline-block;
	list-style: none;
	margin: 0 25px;
	
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
	position: relative;
}
ul li a::after{
	content: '';
	width: 0%;
	height: 5px;
	background: grey;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10;
	transition: 0.5s;
}
ul li a:hover::after{
	width: 100%;
}

.navbar-icons img{
	height: 25px;
	margin-left: 40px;
}
.navbar-icons{
	margin-left: 40px;
}
.banner{
	display: flex;
	margin-top: 80px
}
.left-column,.right-column{
	flex-basis: 50%;

}
.right-column{
	max-width: 60%;
}
.middle{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.middle h1{
	font-size: 70px;
	margin-top: 80px;
	line-height: 25px;
}
.GettingStarted{
	padding: 15px 0;
	text-align: center; 
	margin: 20px 10px;
	font-weight: bold;
	background: transparent;
	color: #fff;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	list-style: none;
	position: relative;
	display: inline-block;
	
}
.GettingStarted a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	
}
.GettingStarted::after{
	content: '';
	height: opx;
	width: 0%;
	background: grey;
	position: absolute;
	left: 0;
	bottom: 8;
	transition: 0.5s;
}
.GettingStarted:hover::after{
	width: 100%;
	height: 3px;
}

.buttonn{
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	
}
.buttonn li a{
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}


.mainn{
	width: 166px;
	border: 03px solid #fff;
	padding: 10px 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: #fff;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	align-items: left;

}
.mainn input{
	background: transparent;
	border: 0px;
	outline: none;
	width: 300px;
	flex: 1;
	padding: .1px .1px;
	font-size: 15px;
	color: #fff;
}
.mainn2{
	width: 215px;
	border: 03px solid #fff;
	padding: 10px 20px;
	margin-bottom: 30px;
	text-decoration: none;
	color: #fff;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	align-items: center;
}
.mainn2 select{
	background: transparent;
	border: 0px;
	outline: none;
	width: 90px;
	flex: 1;
	padding: .1px .1px;
	font-size: 15px;
	color: #fff;
}
.mainn2 select option{
	background: grey;
}
.mainn3{
	color: #fff;
	width: 200px;
	border: 03px solid #fff;
	padding: 08px;
	margin-bottom: 30px;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	align-items: center;
}
.mainn3 select{
	background: transparent;
	border: 0px;
	outline: none;
	width: 70px;
	flex: 1;
	padding: .1px .1px;
	font-size: 15px;
	color: #fff;
}
.mainn3 select option{
	background: grey;
}
.mainn4{
	color: #fff;
	width: 255px;
	border: 03px solid #fff;
	padding: 1px;
	margin-bottom: 30px;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	align-items: center;
}
.mainn4 select{
	background: transparent;
	border: 0px;
	outline: none;
	width: 100px;
	flex: 1;
	padding: .1px .1px;
	font-size: 15px;
	color: #fff;
}
.mainn4 select option{
	background: grey;
}

.FirstMain{
	margin-bottom: 10px;
	width: 100%;
}
.FirstMain h1{
	color: #fff;
	font-size: 30;
	border-bottom: 2px solid;
}

.FirstMain a{
	color: #fff;
	display: inline-block;
}
.FirstMain hr{
	margin-top: -10px;
	margin-bottom: 10px;
}
.SubmitButtonn{
	border: 03px solid #fff;
	display: inline-block;
	border-radius: 25px;

}
.SubmitButtonn input{
	color: #fff;
	margin: 0px 0px;
	padding: 08px;
	position: relative;
	background: rgba(255, 255, 255, 0.2);
	align-items: center;
	cursor: pointer;
	border-radius: 25px;
}
.SubmitButtonn input:hover{
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 25px;
}

.GiantSwing{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.GiantSwing h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;

}
.GiantSwing2{
	margin: 20;	
}
.GiantSwing2 li{
	margin-bottom: 10px;
	color: #fff;
}
.Ratt{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.Ratt h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;

}
.Ratt2{
	margin: 20;	
}
.Ratt2 li{
	margin-bottom: 10px;
	color: #fff;
}
.Monumentt{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.Monumentt h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.Monumentt2{
	margin: 20;	
}
.Monumentt2 li{
	margin-bottom: 10px;
	color: #fff;
}
.SamYanTac{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.SamYanTac h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.SamYanTac2{
	margin: 20;	
}
.SamYanTac2 li{
	margin-bottom: 10px;
	color: #fff;
}
.TamaHaradd{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.TamaHaradd h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.TamaHaradd2{
	margin: 20;	
}
.TamaHaradd2 li{
	margin-bottom: 10px;
	color: #fff;
}
.ShangShui{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.ShangShui h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.ShangShui2{
	margin: 20;	
}
.ShangShui2 li{
	margin-bottom: 10px;
	color: #fff;
}
.EasiaTiche{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.EasiaTiche h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.EasiaTiche2{
	margin: 20;	
}
.EasiaTiche2 li{
	margin-bottom: 10px;
	color: #fff;
}
.RRiFarm{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.RRiFarm h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.RRiFarm2{
	margin: 20;	
}
.RRiFarm2 li{
	margin-bottom: 10px;
	color: #fff;
}
.TempleAryun{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.TempleAryun h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.TempleAryun2{
	margin: 20;	
}
.TempleAryun2 li{
	margin-bottom: 10px;
	color: #fff;
}
.Gim{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.Gim h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.Gim2{
	margin: 20;	
}
.Gim2 li{
	margin-bottom: 10px;
	color: #fff;
}
.TemplePho{
	margin-left: 30;
	padding: 9;
	font-size: 25;
}
.TemplePho h1{
	color: #fff;
	border-bottom: 3px solid #fff;
	margin-right: 50;
}
.TemplePho2{
	margin: 20;	
}
.TemplePho2 li{
	margin-bottom: 10px;
	color: #fff;
}




















@media (max-width: 1000px){
	.middle{
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: #fff;
	}
	.middle h1{
		font-size: 50px;
		margin-top: 50px;
		line-height: 50px;
	}
}
